<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mega.hephaestus.pms.data.runtime.mapper.InstanceMapper">


    <select id="getInstanceExperiment" resultType="com.mega.hephaestus.pms.data.runtime.view.HephaestusInstanceExperimentView">
		SELECT
			t1.*,
			t2.experiment_name
		FROM
			hephaestus_instance t1
		LEFT JOIN
			hephaestus_experiment t2 ON t1.experiment_id = t2.id
		<where>
            t1.id = #{instanceId}
        </where>
    </select>


</mapper>