<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mega.hephaestus.pms.data.mysql.mapper.LabwarePlateMapper">


    <select id="countGroupByPlateNo" resultType="com.mega.hephaestus.pms.data.model.view.PlateNoCountView">
		SELECT count(*) count,iteration_no as plate_no  FROM hephaestus_experiment_labware

		group by iteration_no

    </select>

    <select id="countByIsFinishedGroupByPlateNo" resultType="com.mega.hephaestus.pms.data.model.view.PlateNoCountView">
        SELECT count(*) count,iteration_no AS plate_no  FROM hephaestus_experiment_labware
        where is_finished =1
        group by iteration_no
    </select>
</mapper>
